@use "../../variables" as *;

.button {
    @include button;
    background: $linearGradientMain;
    text-transform: uppercase;
    transition: all 0.5s ease;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}