@use "../../variables" as *;

.ourarticles {
  min-width: 100%;
  padding: 7.5rem 0;
}

.subtitle {
  @include titleHeader;
}

.titleblock {
  margin-bottom: 7.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  @include sectiontitle;
}

.mainbutton {
  width: 14rem;
  color: $whiteColor;
}

.items {
  min-height: 60.5rem;
  position: relative;
}

@media (max-width: 600px) {
  .titleblock {
    flex-direction: column;
    gap: 2rem;
    align-items: start;
  }
}
