@use "../../variables" as *;

.wrapper {
  position: relative;
  padding: 6.7rem 0 2rem;
  text-align: center;
}

.policy {
  margin: 0 auto 6rem;
  max-width: 78.8rem;
}

.subtitle {
  @include titleHeader;
}

.title {
  @include title;
  margin-bottom: 2.4rem;
}

.text {
  margin: 0 auto 4.8rem;
  max-width: 61.2rem;
  color: $greyColor;
}

.blocktitle {
  @include title(2rem);
  margin-bottom: 1.6rem;
  text-align: left;
}

.listtext,
.blocktext,
.list {
  text-align: left;
  color: $greyColor;
}

.blocktext,
.list {
  margin-bottom: 3.2rem;
}

.list li {
  list-style: disc inside;
}

.leftdecor,
.rightdecor {
  position: absolute;
  top: 15rem;
  z-index: -1;
}

.leftdecor {
  left: 0;
}

.rightdecor {
  right: 0;
  transform: rotateY(180deg);
}

@media (max-width: 1200px) {
  .leftdecor,
  .rightdecor {
    top: 8rem;
    max-width: 17rem;
  }
}

@media (max-width: 1100px) {
  .title {
    @include title(3.6rem);
  }
  .leftdecor,
  .rightdecor {
    max-width: 12rem;
  }
}

@media (max-width: 950px) {
  .leftdecor,
  .rightdecor {
    max-width: 7rem;
  }
}

@media (max-width: 710px) {
  .text {
    max-width: 40rem;
  }
}

@media (max-width: 480px) {
  .title {
    @include title(3rem);
  }
  .text {
    max-width: 30rem;
    font-size: 1.4rem;
  }
  .leftdecor,
  .rightdecor {
    opacity: 0.3;
  }
}

@media (max-width: 375px) {
    .blocktitle {
        @include title(1.8rem);
    }
}