@use "../../variables" as *;

.team {
	padding: 15rem 0 7.5rem;
	text-align: center;
}

.subtitle {
  @include titleHeader;
}

.title {
  @include title;
  margin-bottom: 4.8rem;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 3.1rem;
}

@media (max-width: 1100px) {
  .team {
    padding: 7.5rem 0;
  }
  .title {
    @include title(3.6rem);
  }
  .items {
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  .title {
    @include title(3rem);
  }
  .items {
    grid-template-columns: 1fr;
  }
}