@use "../../variables" as *;

.cards {
    padding: 4.2rem 6.5rem 5.3rem;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    background-color: $blackLightColor;
}

.image {
    margin-bottom: 4.2rem;
    width: 7rem;
    height: 7rem;
    img {
        width: 100%;
    }
}

.title {
    margin-bottom: 1.2rem;
    font-size: 2rem;
    line-height: 100%;
    font-weight: 400;
}

.text {
    font-size: 1.4rem;
    line-height: 200%;
    color: $greyColor;
}