.whychoose {
  padding: 0;
}

.items {
  min-height: 77.32rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6.8rem;
}

@media (max-width: 1024px) {
  .items {
    gap: 3rem;
  }
}

@media (max-width: 900px) {
  .items {
    width: 100%;
    min-height: auto;
    flex-direction: column-reverse;
    gap: 7rem;
  }
}
