@use "../../variables" as *;

.about {
  padding: 6rem 0 8.6rem;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 6.8rem;
}

.images {
  @include imagWhithBgLight(left, -2.36rem, 9.43rem);
  width: 51.8rem;
  position: relative;
}

.content {
  max-width: 56.2rem;
}

.subtitle {
  @include titleHeader;
  margin-bottom: 1.2rem;
}

.title {
  @include title(4.8rem);
  margin-bottom: 1.2rem;
}

.text {
  margin-bottom: 2.4rem;
  color: $greydarkColor;
}

.list {
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.listitem {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-weight: 400;
}

.button {
  max-width: 16.8rem;
}
