@use "../../variables" as *;

.team {
  padding: 7.5rem 0;
}

.subtitle {
  @include titleHeader;
}

.titleblock {
  margin-bottom: 4.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.title {
  @include sectiontitle;
}

.button {
  width: 14rem;
  text-transform: uppercase;
  color: $whiteColor;
  font-weight: 700;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 0.928rem;
}


@media (max-width: 1100px) {
  .team {
    padding: 0 0 4rem;
  }
}

@media (max-width: 900px) {
  .team {
    padding: 8rem 0 4rem;
  }
}

@media (max-width: 650px) {
  .titleblock {
    flex-direction: column;
    align-items: start;
  }
}

