@use "../../variables" as *;

.team {
  padding: 7.5rem 0;
}

.subtitle {
  @include titleHeader;
}

.titleblock {
  margin-bottom: 4.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.title {
  @include sectiontitle;
}

.button {
  width: 14rem;
  text-transform: uppercase;
  color: $whiteColor;
  font-weight: 700;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24.18rem, 1fr));
  gap: 2rem 0.928rem;
}

@media (max-width: 1100px) {
  .team {
    padding: 0 0 4rem;
  }
}

@media (max-width: 900px) {
  .team {
    padding: 8rem 0 4rem;
  }
}

@media (max-width: 650px) {
  .titleblock {
    flex-direction: column;
    align-items: start;
  }
}

//teamitem
.item {
  position: relative;
  padding: 0.928rem;
  border: 0.1rem solid $whiteColor;
  border-image: $linearGradientWhite;
  border-image-slice: 1;
  transition: all 0.5s ease;
  &:hover {
    border-image: $linearGradientMain;
    border-image-slice: 1;
    .social {
      opacity: 1;
    }
  }
}

.inneritem {
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.legend {
  position: absolute;
  bottom: 1.84rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-weight: 600;
}

.position {
  font-size: 1.2rem;
  line-height: 166.67%;
  font-weight: 400;
  color: $greyColor;
}

.social {
  position: absolute;
  bottom: 8.6rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 2.4rem;
  opacity: 0;
}

.outitem {
  width: 4.8rem;
  height: 4.8rem;
  padding: 0.1rem;
  background: $linearGradientMain;
  border-radius: 50%;
}

.socialitem {
  display: block;
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 50%;
  border: 0.1rem solid $linearGradientBlueColor;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bgsocialteam;
  img {
    height: 50%;
  }
}

@media (max-width: 1024px) {
  .team {
    .item {
      &:nth-child(4) {
        grid-column: 2 / 3;
      }
    }
  }
}

@media (max-width: 773px) {
  .team {
    .item {
      &:nth-child(4) {
        grid-column: auto;
      }
    }
  }
}
