@use "../../variables" as *;

.dreams {
    padding: 7.5rem 0 5rem;
}

.subtitle {
    @include titleHeader;
    display: block;
    max-width: fit-content;
    margin: 0 auto 1.2rem;
    text-align: center;
}

.title {
    @include title;
    margin: 0 auto 4.8rem;
    max-width: 80.9rem;
    text-align: center;
}

.videoblock {
    margin-bottom: 4.8rem;
    width: 100%;
    height: 52.2rem;
    position: relative;
    .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 0;
        border-radius: 1.2rem;
    }
}

.button {
    margin: 0 auto;
    width: 18.2rem;
}

.beige {
    position: absolute;
    top: 5.2rem;
    left: 3.4rem;
    display: block;
    padding: 0.2rem 1rem;
    width: fit-content;
    border-radius: 1.6rem;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 1.4rem;
    line-height: 143%;
    font-weight: 500;
}

.videotitle {
    @include title(3.6rem);
    position: absolute;
    top: 8.8rem;
    left: 3.4rem;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    img {
        width: 100%;
    }
}

.videolight {
    position: absolute;
    top: -8.7rem;
    left: -16.7rem;
    width: 45.4rem;
    height: 19.9rem;
}