@use "../../../variables" as *;

.getintouchform {
	position: relative;
	z-index: 2;
}

.subtitle {
  @include titleHeader;
}

.title {
  @include sectiontitle;
  margin-bottom: 1.5rem;
}

.text {
  margin-bottom: 3.2rem;
  color: $greyColor;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
}

.input {
  width: calc(50% - 1.2rem);
 
}

.message {
  width: 100%;
  min-height: 13.7rem;
}

.input,
.message {
  padding: 1.1rem 1.5rem;
  background-color: $bgCards;
  border: 0.1rem solid $whiteColor;
  border-image: $linearGradientWhite;
  border-image-slice: 1;
   color: $whiteColor;
  &::placeholder {
    color: $greyColor;
  }
}

.button {
  @include button;
  width: 19.8rem;
  background: $linearGradientMain;
  color: $whiteColor;
  transition: all 0.5s ease;
  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: 600px) {
	.input {
		width: 100%;
	}
}
