@use "../../variables" as *;

.header {
    padding: 3.1rem 0;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.logo {
    display: block;
    max-width: 10.1rem;
    transition: all 0.5s ease;
    img {
        width: 100%;
    }
    &:hover {
        opacity: 0.7;
    }
}

.menulist {
    display: flex;
    align-items: center;
    gap: 6.4rem;
}

.menulink {
    color: $whiteColor;
    transition: all 0.5s ease;

    &:hover {
        text-decoration: underline;
    }
}

.button {
    width: 12.6rem;
}

@media (max-width: 1024px) {
    .menulist {
        gap: 5rem;
    }
}