@use "../../variables" as *;

.testimonial {
  height: 134.7rem;
  padding: 5rem 0;
  position: relative;
}

.circle1 {
  @include circle(124.7rem, 124.7rem);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.circle2 {
  @include circle(108.4rem, 108.4rem);
  position: relative;
}

.circle3 {
  @include circle(89.9rem, 89.9rem);
  position: relative;
}

.circle4 {
  @include circle(73.1rem, 73.1rem);
  position: relative;
}

.circle5 {
  @include circle(56.46rem, 56.46rem);
  position: relative;
}

.circle6 {
  position: relative;
  @include circle(38.95rem, 38.95rem);
  background-color: $circleBgColor;
}

.images {
  width: 66.3rem;

  position: absolute;
  bottom: -1rem;
}
.maimimage {
  max-width: 66.3rem;
  height: 47.23rem;
  position: relative;
}

.mainimgdown {
  width: 38.95rem;
  position: absolute;
  bottom: 1rem;
  left: 13.8rem;
}
.mainimgup {
  position: absolute;
  left: 3rem;
  bottom: 10.5rem;
}

.imagelight {
  position: absolute;
  top: -5rem;
  left: -30%;
}

.titleblock {
  position: absolute;
  top: 14.9rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.subtitle {
  @include titleHeader;
}

.title {
  @include title;
}

.circlefoto1,
.circlefoto2,
.circlefoto3,
.circlefoto4,
.circlefoto5,
.circlefoto6 {
  @include testimonialCircleFoto;
  &:hover {
    .beige {
      display: block;
    }
  }
}

.circlefoto6 {
  bottom: 0;
  transform: translateY(50%);
}

.circlefoto5 {
  top: 0;
  transform: translateY(-50%);
  transform: translateX(16rem);
}

.circlefoto4 {
  right: 0;
  transform: translateX(50%);
}

.circlefoto3 {
  bottom: 20rem;
  transform: translateX(-45rem);
}

.circlefoto2 {
  bottom: 10rem;
  transform: translateX(40rem);
}

.circlefoto1 {
  left: 3.5rem;
  transform: translateY(-30rem);
  transition: all 0.5s ease;
}

.beige {
  display: none;
  padding: 1.8rem;
  position: absolute;
  left: 9.1rem;
  width: 29.7rem;
  font-size: 1.2rem;
  line-height: 167%;
  background-color: $blackLightColor;
  color: $greydarkColor;
  border: 0.1rem solid $whiteColor;
  border-image: $linearGradientWhite;
  border-image-slice: 1;

  p {
    margin-bottom: 0.8rem;
  }

  span {
    display: inline-block;
    font-weight: 400;
    border-bottom: 0.1rem solid $linearGradientBlueColor;
    border-image: $linearGradientMain;
    border-image-slice: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -7.1rem;
    border: 6.2rem solid transparent;
    border-right: 0.8rem solid $whiteColor;
  }
}

@media (max-width: 1190px) {
  .testimonial {
    height: 146.7rem;
  }
  .titleblock {
    margin-bottom: 2.9rem;
    position: static;
    transform: translateX(0);
  }
  .circlefoto1 {
    left: 30.5rem;
    transform: translateY(-47rem);
  }
  .circlefoto5 {
    top: -2rem;
    transform: translateX(10rem);
  }
  .circlefoto3 {
    bottom: 2rem;
    transform: translateX(-25rem);
  }
  .circlefoto4 {
    bottom: -2rem;
    right: 32rem;
  }
  .circlefoto2 {
    bottom: -3rem;
    transform: translateX(7rem);
  }
}

@media (max-width: 870px) {
  .title {
    @include title(3.6rem);
  }
  .circlefoto1 {
    left: 35.5rem;
    transform: translateY(-49rem);
  }
  .circlefoto5 {
    top: -3.2rem;
    transform: translateX(-3rem);
  }
  .circlefoto6 {
    bottom: 7rem;
    left: 5rem;
  }
  .circlefoto4 {
    bottom: 5rem;
    right: 47rem;
  }
  .circlefoto2 {
    bottom: -3rem;
    transform: translateX(-1rem);
  }
}

@media (max-width: 600px) {
  .beige {
    opacity: 0;
  }
  .title {
    @include title(3rem);
  }
  .circlefoto1 {
    left: 40.5rem;
    transform: translateY(-51rem);
  }
  .circlefoto3 {
    bottom: -1rem;
    transform: translateX(-18rem);
  }
  .circlefoto6 {
    bottom: 1rem;
    left: 33rem;
  }
}

@media (max-width: 480px) {
  .mainimgdown {
    width: 28rem;
    bottom: 0.8rem;
    left: 19.2rem;
  }
  .mainimgup {
    width: 44rem;
    left: 11.4rem;
    bottom: 7.3rem;
  }
  .circle6 {
    @include circle(30.4rem, 30.4rem);
  }
   .circlefoto1 {
    left: 50.5rem;
    transform: translateY(-53.5rem);
  }
    .circlefoto3 {
    bottom: -3rem;
    transform: translateX(-9rem);
  }
    .circlefoto2 {
    bottom: -3rem;
    transform: translateX(8rem);
  }
}
