@use "../../variables" as *;

.testimonial {
    padding: 5rem 0;
  
}

.circle1 {
    @include circle(124.7rem, 124.7rem);
}

.circle2 {
    @include circle(108.4rem, 108.4rem);
    position: relative;
}

.circle3 {
    @include circle(89.9rem, 89.9rem);
}

.circle4 {
    @include circle(73.1rem, 73.1rem);
}

.circle5 {
    @include circle(56.46rem, 56.46rem);

}

.circle6 {
    position: relative;
    @include circle(38.95rem, 38.95rem);
   background-color: $circleBgColor;
}

.images {
    width: 66.3rem;
    
    position: absolute;
    bottom: -1rem;
}
.maimimage {
   max-width: 66.3rem;
   height: 47.23rem;
   position: relative;
}

.mainimgdown {
    width: 38.95rem;
    position: absolute;
   bottom: 1rem;
   left: 13.8rem;
}
.mainimgup {
    position: absolute;
    left: 3rem;
    bottom: 10.5rem;
}

.imagelight {
    position: absolute;
    top: -5rem;
    left: -30%;
}

.titleblock {
    position: absolute;
    top: 2.9rem;
    text-align: center;
}

.subtitle {
    @include titleHeader;
}

.title {
    @include title;
}