//переменные
$blueColor: #19b5f1;
$purpleColor: #ca6aeb;
$linearGradientBlueColor: #0cbaf1;
$linearGradientPurpleColor: #e95ce9;
$blackColor: #18181b;
$blackLightColor: #252532;
$greyColor: #b0b0b2;
$greydarkColor: #d1d1d1;
$whiteColor: #ffffff;
$circleBorderColor: rgba(255, 255, 255, 0.17);
$circlefotoBorderColor: #7c7c84;
$circleBgColor: #333751;
$linearGradientMain: linear-gradient(
  to right,
  $linearGradientBlueColor,
  $linearGradientPurpleColor
);
$linearGradientWhite: linear-gradient(to right, $whiteColor, transparent);
$linearGradientBorderCircleFoto: linear-gradient(to right, $blackLightColor, $circlefotoBorderColor);

//миксины
@mixin button {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin title($fontSize: 4.8rem) {
  font-size: $fontSize;
  line-height: 121%;
  font-weight: 600;
}

@mixin titleHeader {
  margin-bottom: 1.2rem;
  display: inline-block;
  line-height: 100%;
  font-weight: 500;
  letter-spacing: 14%;
  text-transform: uppercase;
  background-image: $linearGradientMain;
  color: transparent;
  background-clip: text;
}

@mixin imagWhithBgLight($bgPosVal, $lightPosX, $lightPosY){
  .image {
    img {
      width: 100%;
    }
  }
  .bg {
    max-width: 39.89rem;
    position: absolute;
    bottom: 0;
    z-index: -1;
    left: $bgPosVal;
  }
  .light {
    width: 60.8rem;
    height: 36.46rem;
    position: absolute;
    bottom: $lightPosY;
    left: $lightPosX;
   
  }
  .video {
    max-width: 19.6rem;
    position: absolute;
    bottom: -2.3rem;
    right: 1.43rem;
  }
}

@mixin circle($width, $height){
  width: $width;
  height: $height;
  border-radius: 50%;
  border: 0.1rem solid $circleBorderColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin testimonialCircleFoto {
	position: absolute;
	width: 7.5rem;
	height: 7.5rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $blackColor;
	border: 0.1rem solid $circlefotoBorderColor;
	transition: all 0.5s ease;
	cursor: pointer;
	z-index: 3;
	

	img {
		width: 5.045rem;
		height: 5.045rem;
		border-radius: 50%;
		overflow: hidden;
	}

	&:hover {
		background-image: $linearGradientMain;
	}
}