//переменные
$blueColor: #19b5f1;
$purpleColor: #ca6aeb;
$linearGradientBlueColor: #0cbaf1;
$linearGradientPurpleColor: #e95ce9;
$bgMenuMobile: #613f75;
$blackColor: #18181b;
$blackLightColor: #252532;
$greyColor: #b0b0b2;
$greydarkColor: #d1d1d1;
$whiteColor: #ffffff;
$whiteLight: #71717a;
$circleBorderColor: rgba(255, 255, 255, 0.17);
$circlefotoBorderColor: #7c7c84;
$circleBgColor: #333751;
$bgsocialteam: #4f50a1;
$bgBeige: #66666f;
$bgCards: #202029;
$bgGreyIcon: rgba(255, 255, 255, 0.11);
$linearGradientMain: linear-gradient(
  to right,
  $linearGradientBlueColor,
  $linearGradientPurpleColor
);
$linearGradientWhite: linear-gradient(to right, $whiteColor, transparent);
$linearGradientBorderCircleFoto: linear-gradient(
  to right,
  $blackLightColor,
  $circlefotoBorderColor
);

//миксины
@mixin button {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

@mixin title($fontSize) {
  font-size: $fontSize;
  line-height: 121%;
  font-weight: 600;
}

@mixin sectiontitle {
  font-size: 4.8rem;
  line-height: 121%;
  font-weight: 600;

 @media (max-width: 1100px) {
	font-size: 3.6rem;
 }

 @media (max-width: 480px) {
	font-size: 3rem;
 }
}

@mixin titleHeader {
  margin-bottom: 1.2rem;
  display: inline-block;
  line-height: 100%;
  font-weight: 500;
  letter-spacing: 14%;
  text-transform: uppercase;
  background-image: $linearGradientMain;
  color: transparent;
  background-clip: text;
}

@mixin beige($fontSize) {
  padding: 0.2rem 0.7rem;
  border-radius: 1.15rem;
  background-color: $bgBeige;
  font-size: $fontSize;
  line-height: 140%;
  font-weight: 500;
  color: $whiteColor;
}

@mixin imagWhithBgLight($bgPosVal, $lightPosX, $lightPosY) {
  .image {
    img {
      width: 100%;
    }
  }
  .bg {
    max-width: 39.89rem;
    position: absolute;
    bottom: 0;
    z-index: -1;
    left: $bgPosVal;
  }
  .light {
    width: 60.8rem;
    height: 36.46rem;
    position: absolute;
    bottom: $lightPosY;
    left: $lightPosX;
    filter: blur(4rem);
  }
  .video {
    max-width: 19.6rem;
    position: absolute;
    bottom: -2.3rem;
    right: 1.43rem;
  }
}

@mixin circle($width, $height) {
  width: $width;
  height: $height;
  border-radius: 50%;
  border: 0.1rem solid $circleBorderColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin testimonialCircleFoto {
  position: absolute;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blackColor;
  border: 0.1rem solid $circlefotoBorderColor;
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 3;

  img {
    width: 5.045rem;
    height: 5.045rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &:hover {
    background-image: $linearGradientMain;
  }
}

@mixin burger($top, $right) {
  display: block;
  padding: 0.8rem;
  position: absolute;
  top: $top;
  right: $right;
  width: 3.2rem;
  height: 3.2rem;
  border: 0.1rem solid $linearGradientBlueColor;
  border-image: $linearGradientMain;
  border-image-slice: 1;
  z-index: 8;
  span {
    position: absolute;
    background-color: $whiteColor;
    right: 0.8;
    top: 1.5rem;
    width: 1.4rem;
    height: 0.1rem;
    transition: all 0.3s ease 0s;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 0.1rem;
    transition: all 0.3s ease 0s;
  }
}

@mixin circleColoredBorder($size, $innersize) {
  width: $size;
  height: $size;
  border-radius: 50%;
  padding: 0.1rem;
  background: $linearGradientMain;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;

  .inner {
    width: $innersize;
    height: $innersize;
    border-radius: 50%;
    background: $blackColor;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 49%;
    }
  }
}
