@use "../../variables" as *;

.content {
  max-width: 56.2rem;
}

.subtitle {
  @include titleHeader;
}

.title {
  @include title;
  margin-bottom: 3.2rem;
}

.blockitem {
  &:not(:last-child) {
    margin-bottom: 4.8rem;
  }

  div {
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.2rem;
    border-bottom: 0.1rem solid $greyColor;
  }
  img {
    cursor: pointer;
  }
}

.text {
  color: $greydarkColor;
}

@media (max-width: 1100px) {
  .title {
    @include title(3.6rem);
  }
}

@media (max-width: 1024px) {
  .content {
    max-width: 45rem;
  }
}

@media (max-width: 900px) {
  .content {
    min-width: 100%;
  }
}

@media (max-width: 480px) {
  .title {
    @include title(3rem);
  }
}
