@use "../../variables" as *;

.content {
  position: relative;
  min-height: 50rem;
}

.subtitle {
  @include titleHeader;
}

.title {
  @include sectiontitle;
  margin-bottom: 3.2rem;
}

.block {
  position: absolute;
  top: 17rem;
  width: 100%;
}

.item {
  &:not(:last-child) {
    margin-bottom: 4.8rem;
  }
}

.itemup {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.2rem;
  border-bottom: 0.1rem solid $greyColor;
}

.itemtitle {
  @include title(2rem);
}

.arrow {
  width: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    box-shadow: 0 0 1rem $whiteColor;
  }
}

.itemtext {
  display: none;
  font-weight: 400;
  color: $greydarkColor;
}

@media (max-width: 1200px) {
  .block {
    top: 15rem;
  }
  .item {
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
}

@media (max-width: 1100px) {
  .itemtitle {
  @include title(1.8rem);
}
}

@media (max-width: 1024px) {
  .content {
    max-width: 100%;
    min-height: auto;
  }
  .block {
    position: static;
  }
}

@media (max-width: 900px) {
  .content {
    min-width: 100%;
  }
}

